body{
  background-color: #2e0327;
  margin: 0;
  padding: 0;
  
}
.home{
  padding-bottom: 30px;
  background-image: url(./img/image-6.png);
  padding-bottom: 30px;
  background-size: contain; /* or specify exact size like 50% */
  background-repeat: no-repeat; /* Ensures the image doesn't repeat */
  background-position: left; /* Centers the background image */
}
.homeimg{
  width: 600px;
  height: 600px;
  position :absolute;
  right: 40px;
  bottom: 0px;
  top: 20px;
}

.logo{
  margin-left: 40px;
}
.home-img{
  width: 600px;
  height: 400px;
  justify-content: right;
  
}

.details{
  
  display: flex;

}
.cont1{
  position :absolute;
  left: 1px;
  margin-left: 40px;
  margin-top: 40px;
}

.about {
  position: relative;
  padding-bottom: 30px;
  overflow: hidden; /* Ensure content doesn't overflow */
  background-size: contain;
}

.about::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(./img/image-9.png);
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2; /* Adjust the opacity level *
  z-index: -1; /* Ensure it stays behind the content */
}


.gaming {
  background: linear-gradient(90deg, #edbf07, #f80b37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .let-your-gaming-container {
  width: 577px;
  position: relative;
  font-size: 78px;
  text-transform: capitalize;
  font-family: 'Jacques Francois';
  text-align: left;
  display: inline-block;
  color: #fff;
  }

  .discover-our-innovative {
    width: 479px;
    position: relative;
    font-size: 16px;
    text-transform: capitalize;
    font-family: 'Poppins';
    color: #fafafa;
    text-align: left;
    
    }

    .btn-container{
      display: flex;
      
    }

    .slide{
      margin-bottom: 10px;
    }
.about-wrapper{
  display: flex;
}
    .why-choose-us{
      width: 538px;
      height: 284px;
      margin: 40px;
      margin-top: 160px;
    }
    .why-choose-us-head{
      top: 0;
      left: 0;
      font-weight: 400;
      color: #ffffff;
      font-size: 70px;
      letter-spacing: 0;
      line-height: normal;
    }
  .why-choose-us-para{
    top: 140px;
    left: 4px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #fafafae6;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 25px;
    margin-top: 60px;
  }
.exp-main-logo-wrapper{
  width: 70px;
  height: 70px;
  top: 0;
  left: 0;
  background-color: #2e0327;
  border-radius: 35px;
  box-shadow: 0px 4px 10px 1px #edbf0726, 4px 0px 10px 1px #edbf0726, -4px 0px 10px 1px #edbf0726;
}

.exp-logo-wrapper{
  position: relative;
  width: 60px;
  height: 60px;
  top: 5px;
  left: 5px;
  background-color: #eabb02;
  border-radius: 30px;
}
.exp-logo{
   width: 40px;
  height: 40px;
  top: 10px;
  left: 10px;
  object-fit: cover;
  position: absolute;
}
  .exp-head{
    margin-top: 10px;
    width: 156px;
    font-family: "Poppins";
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }

  .exp-para{
margin-top: 10px;
    width: 265px;
    font-family: "Poppins", Helvetica;
    font-weight: 300;
    color: #fafafae6;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }

  .expertise-list-container{
    display: flex;
    margin: 40px;
    margin-top: 80px;
    margin-left: 100px;
  }

  .discover-mc {
    width: auto;
    height: 600px;
    background-image: url('./img/rectangle-9.png');
    background-size: cover; /* Optional: ensures the image covers the entire element */
    background-position:bottom /* Optional: centers the image */
}
.discover-container{
backdrop-filter: blur(187.8px);
border-radius: 11px;
background-color: rgba(239, 239, 239, 0.05);
border: 1px solid rgba(255, 255, 255, 0.37);
box-sizing: border-box;
height: 389px;
margin-left: 80px;
margin-right: 50px;
width: auto;
position: relative;

}
.gap{
  width: auto;
  height: 100px;
}
.discover-icon{
width: 1400px;
max-width: 100%;
overflow: hidden;
height: 500px;
object-fit: contain;
position: relative;
bottom: 80px;
}

.discover-box{
  display: flex;
}

.virtual {
  background: linear-gradient(90deg, #edbf07, #f80b37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .discover-the-virtual-container {
    margin-top: 20px;
  width: 565px;
  position: relative;
  font-size: 48px;
  text-transform: capitalize;
  font-family: 'Jacques Francois';
  text-align: left;
  display: inline-block;
  color: #fff;
  }

  .experience-the-limitless {
    margin-top: 40px;
    width: 629px;
    position: relative;
    font-size: 16px;
    text-transform: capitalize;
    font-family: Poppins;
    color: rgba(250, 250, 250, 0.9);
    text-align: left;
    display: inline-block;
    }
.disc-btn{
  margin-top: 20px;
}

.games {
  background: linear-gradient(90deg, #edbf07, #f80b37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .head-parent {
    text-align: center;
  }
  
  .check-our-top-container {
    width: auto;
    font-size: 48px;
    text-transform: capitalize;
    font-family: 'Jacques Francois';
    display: inline-block; /* This can stay if needed */
    color: #fff;
  }

  .btn-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    
  }

  .contact-us-wrapper {
    position: relative;
    width: 166px;
    height: 53px;
    background-image: url(./img/rectangle-12.svg);
    background-size: 100% 100%;
    cursor: pointer;
  }
  

  .games-list-btn {
    margin-left: 20px;
    transition: background 0.5s ease-in-out;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0;
    line-height:50px;
    color: white;
    font-weight: bold;
    align-items: center;
    text-align : center;
    
  
  }

  .scrollable-container {
    max-height: 700px; /* Set your desired height */
    overflow-x: hidden;
    margin-left: 80px;
    
  }
  .scrollable-container::-webkit-scrollbar {
      width: 10px; /* Width of the scrollbar */
      background-color: transparent;
  }
  
  .scrollable-container::-webkit-scrollbar-track {
      background: transparent; /* Color of the track */
  }
  
  .scrollable-container::-webkit-scrollbar-thumb {
      background: transparent; /* Color of the thumb */
  }
  
  .scrollable-container::-webkit-scrollbar-thumb:hover {
      background: transparent; /* Color of the thumb on hover */
  }
  
  
  .games-container {
    height: 700px; /* Set a fixed height for the container */
    overflow-x: hidden; /* Enable vertical scrolling */
   
  }

.games-sec{
  background-color: #350a2d;
  padding-top: 100px;
  padding-bottom: 50px;
}
.games-container {
  margin-left: 80px;
  overflow-x: hidden; /* Enable vertical scrolling */
  display: grid;
  grid-template-columns: repeat(3, 0fr); /* 3 boxes per row */ /* Adjust the gap between boxes as needed */
}
.games-container {

  height: 700px; /* Adjust as needed */
  width: auto;
}


.game-box {
  text-align: center;
  background-color: #44113a;
  height: 300px;
  width: 300px;
  margin-left: 40px;
  margin-top: 20px;
  border: rgb(80, 30, 75) 2px solid;
}

.game-box img {
  margin-top: 10px;
  width: 280px; /* Adjust image size as needed */
  height: auto;
}

.game-box h2 {
  transition: background 0.5s ease-in-out;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0;
  line-height:50px;
  color: white;
  font-weight: bold;
  align-items: center;
  text-align : left;
  margin-left: 10px;
 
}
.games-list-btn {
  margin-left: 20px;
  transition: background 0.5s ease-in-out;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0;
  line-height:50px;
  color: white;
  font-weight: bold;
  align-items: center;
  text-align : center;
  

}

.play-now-btn{
  width: 300px;
  height: 53px;
  background-image: url(./img/rectangle-13.svg);
  background-size: cover;
  cursor: pointer;  
  margin-left: 0;
  margin-right: 0;
  position: relative;
  bottom: 20px;

}

.game-list-container{
  margin-top: 100px;
}

.more-game-btn {
  text-align: center;
  font-weight: bold;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: color 0.3s, transform 0.3s, background 0.5s ease-in-out, box-shadow 0.3s;
  margin-left: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 50px;
  color: #ffffff;
  font-weight: bold;
  align-items: center;
  text-align: center;
  background-color: transparent;
  margin-top: 50px;
  
}

.more-game-btn:hover {
  color: #ffffff; /* Text color change on hover */
  transform: translateX(-50%) scale(1.1); /* Zoom in effect */
  background: linear-gradient(180deg, rgb(248, 11, 55) 0%, rgb(237, 191, 7) 100%); /* Reverse gradient on hover */
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2); /* Subtle shadow effect */
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
}

.together {
  background: linear-gradient(90deg, #edbf07, #f80b37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .share-your-vision-container {
  width: 735px;
  position: relative;
  font-size: 48px;
  text-transform: capitalize;
  font-family: 'Jacques Francois';
  text-align: center;
  display: inline-block;
  color: #fff;
  }

  .form-container{
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .form-main{
    display: flex;
    margin-top: 100px;
  }

  .form-logo{
    margin-left: 80px;
  }

.form-box{
width: 600px;
margin-left: 100px;
backdrop-filter: blur(187px);
border-radius: 10px;
background-color: rgba(239, 239, 239, 0.05);
border: 1px solid rgba(255, 255, 255, 0.37);
box-sizing: border-box;
height: 710px;
}
.form-datas{
  margin-left: 20px;
  margin-top: 20px;
}
.get-in-touch {
  width: 202px;
  position: relative;
  font-size: 32px;
  text-transform: capitalize;
  font-family: 'Jacques Francois';
  color: #fff;
  text-align: center;
  display: inline-block;
}

.form-fill{

  margin-top: 20px;
  
}
.form-data-box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.data-box{
  display: grid;
}
.text-feild{

position: relative;
font-size: 16px;
text-transform: capitalize;
font-family: Poppins;

display: inline-block;
color: #fff;
margin-bottom: 20px;
}
.input{
width: auto;
margin-left: 10px;
margin-right: 20px;
margin-bottom: 40px;
position: relative;
border-radius: 5px;
border: 1px solid #573450;
box-sizing: border-box;
height: 50px;
color: white;
background-color: transparent;
}
.message-box{
  width: 532px;
  height: 180px;
}
.submit{
  margin-bottom: 30px;
}

.footer-container{
  width: 100%;
max-width: 100%;
overflow: hidden;
height: 270px;
object-fit: contain;
background-image: url(./img/rectangle-33.png);

}

.image-4{
  margin-left: 80px;
}

.all-rights-are {
  width: 181px;
  font-size: 16px;
  text-transform: capitalize;
  font-family: Poppins;
  color: #fff;
  text-align: right;
  align-self:flex-end;
  margin-left: 80px;
}

@media only screen and (max-width: 428px) {
  /* Styles for iPhone 14 Plus */
  body{
    width: 1200px;
  }
  .home{
    width: auto;
    height: 1900px;
  }
  .details{
    display: inline-block;

  }
  .home-img{
    width: 600px;
    height: 600px;

    
    
  }
  .homeimg{
    width: 800px;
    height: 800px;
    position :absolute;
    left: 250px;
    bottom: 0px;
    top: 200px;
  }


  .let-your-gaming-container {
    margin-top: 200px;
    width: 1200px;
    position: relative;
    font-size: 98px;
    text-transform: capitalize;
    font-family: 'Jacques Francois';
    text-align: left;
    display: inline-block;
    color: #fff;
    }

  .home-btn{
    margin-top: 900px;
    width: 1200px;
  }
  .discover-our-innovative{
margin-top: 100px;
    width: 1209px;
    position: relative;
    font-size: 56px;
    text-transform: capitalize;
    font-family: 'Poppins';
    color: #fafafa;
    text-align: left;
  }

  .contact-us-btn {
    border: none;
    background: linear-gradient(180deg, rgb(237, 191, 7) 0%, rgb(248, 11, 55) 100%);
    color: white; /* text color */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 0px 32px;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
    transform: rotate(4.3deg); /* Rotate 4.5 degrees */
    margin-left: 80px;
    transition: background .5s ease; /* Smooth transition for background */
  }
  
  .contact-us-btn:hover {
    background: linear-gradient(180deg, rgb(233, 48, 11) 0%, rgb(231, 215, 1) 100%);
  }


  .scrollable-container {
    max-height: 700px; /* Set your desired height */
    overflow-x: hidden;

    
  }
  
  
  .contact-us{
    font-family: "Poppins", Helvetica;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    color: white;
    transform: rotate(-4.5deg); 
  }
  .btn-container{
    display: flex;
    height: 100px;
    
  }

  .moving-containers{
    width: 1300px;
    max-width: 1500px;
  }
  .line{
    width: 1300px;
    max-width: 1500px;
  }




  .about-wrapper{
   display: block;
   text-align: center;
  }
      .why-choose-us{
        width: 1208px;
        height: 984px;
        margin: 40px;
        margin-top: 160px;
      }
      .why-choose-us-head{
        top: 0;
        left: 0;
        font-weight: 900;
        color: #ffffff;
        font-size: 90px;
        letter-spacing: 0;
        line-height: normal;
      }
    .why-choose-us-para{
      top: 140px;
      left: 4px;
      font-family: "Poppins", Helvetica;
      font-weight: 400;
      color: #fafafae6;
      font-size: 36px;
      letter-spacing: 5px;
      line-height: 2cm;
      margin-top: 60px;
    }

    .expertise{

text-align: left;
    }

    .expertise-list-container{

    }
  .exp-main-logo-wrapper{
    width: 120px;
    height: 120px;
    top: 0;
    left: 0;
    background-color: #2e0327;
    border-radius: 85px;
    box-shadow: 0px 4px 10px 1px #edbf0726, 4px 0px 10px 1px #edbf0726, -4px 0px 10px 1px #edbf0726;
  }
  
  .exp-logo-wrapper{
    position: relative;
    width: 110px;
    height: 110px;
    top: 5px;
    left: 5px;
    background-color: #eabb02;
    border-radius: 70px;
  }
  .exp-logo{
     width: 80px;
    height: 80px;
    top: 10px;
    left: 15px;
    object-fit: cover;

  }
    .exp-head{
      margin-top: 30px;
      width: 650px;
      font-family: "Poppins";
      font-weight: 500;
      color: #ffffff;
      font-size: 40px;
      letter-spacing: 0;
      line-height: normal;
    }
  
    .exp-para{
  margin-top: 10px;
      width: 400px;
      font-family: "Poppins", Helvetica;
      font-weight: 300;
      color: #fafafae6;
      font-size: 34px;
      letter-spacing: 0;
      line-height: normal;
    }
  
    .expertise-list-container{
      display: flex;
      margin: 40px;
      margin-top: 80px;
      margin-left: 100px;
    }
    .discover{
      width: auto;
      height: 900px;
      text-align: center;
    }
    .discover-container{
      backdrop-filter: blur(187.8px);
      border-radius: 11px;
      background-color: rgba(239, 239, 239, 0.05);
      border: 1px solid rgba(255, 255, 255, 0.37);
      box-sizing: border-box;
      height: 689px;
      margin-left: 160px;
   
      width: auto;
      position: relative;
      text-align: center;
      
      }
      .dis-logo{
        display: none;
      }

      .dis-data{
        text-align: center;
        justify-content: center;
      }

      .discover-the-virtual-container {
        text-align: center;
        margin-top: 20px;
      width: 700px;
      position: relative;
      font-size: 78px;
      text-transform: capitalize;
      font-family: 'Jacques Francois';
      display: inline-block;
      color: #fff;
      }
    
      .experience-the-limitless {
        margin-top: 40px;
        width: 829px;
        position: relative;
        font-size: 30px;
        text-transform: capitalize;
        font-family: Poppins;
        color: rgba(250, 250, 250, 0.9);
        text-align: center;
        display: inline-block;
        }

        .disc-btn{
          margin-top: 80px;
          justify-self:center;
        }

        .games-sec{
          width: 1300px;
        }

        .form-logo{
          display: none;
        }

        .form-container{
          width: auto;
          height: 1700px;
        }

        .form-box{
          height: 1500px;
          width: 1000px;
        }

        .input{
          width: auto;
          margin-left: 10px;
          margin-right: 20px;
          margin-bottom: 40px;
          position: relative;
          border-radius: 5px;
          border: 1px solid #573450;
          box-sizing: border-box;
          height: 100px;
          color: white;
          background-color: transparent;
          font-size: 40px;
          }
          .message-box{
            width: 932px;
            height: 280px;
          }

          .form-data-box{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
          }

          .text-feild{

            position: relative;
            font-size: 26px;
            text-transform: capitalize;
            font-family: Poppins;
            
            display: inline-block;
            color: #fff;
            margin-bottom: 20px;
            margin-top: 20px;
            }

            .submit{
              height: 110px;
              transform: rotate(5.0deg); 
            }

            .games-container {
          
              overflow-x: hidden; /* Enable vertical scrolling */
              display: grid;
              grid-template-columns: repeat(3, 1fr); /* 3 boxes per row */ /* Adjust the gap between boxes as needed */
            }
            .games-container {
              height: 700px; /* Set a fixed height for the container */
              overflow-x: hidden; /* Enable vertical scrolling */
             margin-left: 0px;
            }


            .ellipse {
              position: fixed;
              top: 85%;
              left: 90%;
              background-color: #eeeeee0d;
              border-radius: 50%;
              border: 1px solid;
              border-color: #ffffff5e;
              backdrop-filter: blur(187px) brightness(100%);
              -webkit-backdrop-filter: blur(187px) brightness(100%);
              transform: translate(-50%, -50%);
              transition: all 0.3s ease-in-out;
              width: 200px;
              height: 200px;
            }

            .whatsapp {
              position: fixed;
              top: 50%;
              left: 50%;
              object-fit: cover;
              transform: translate(-50%, -50%);
              animation: rotate .5s infinite;
              transition: all 3.9s ease-in-out;
              width: 160px;
              height: 160px;
            
              
            }

            .footer-container{
              width: 1300px;
            max-width: 1500px;
            overflow: hidden;
            height: 270px;
            object-fit: contain;
            background-image: url(./img/rectangle-33.png);
            
            }

  /* Add more specific styles as needed */
}

